name: Download fonts
on:
  workflow_dispatch:
  schedule:
    - cron: "0 19 * * *"
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"

env:
  misans_download_url: https://hyperos.mi.com/font-download
  firacode_download_url: https://github.com/ryanoasis/nerd-fonts/releases/download
  sarasa_download_url: https://
  source_download_url: https://

jobs:
  Update:
    runs-on: ubuntu-latest
    steps:
    - name: Clone Repository
      uses: actions/checkout@main

    - name: Download MiSans
      run: |
        echo "update_version=$(date -d '+8 hours' +%Y-%m-%d)" >> ${GITHUB_ENV}
        mkdir -p ./tmp/ ./MiSans/ ./FiraCode/ ./Sarasa/ ./LXGW/ ./Source/
        wget -P ./tmp/ "${misans_download_url}/MiSans.zip"
        unzip -o ./tmp/MiSans.zip -d ./tmp/
        mv -f ./tmp/MiSans/otf/MiSans-Bold.otf "./MiSans/MiSans Bold.otf"
        mv -f ./tmp/MiSans/otf/MiSans-Light.otf "./MiSans/MiSans Light.otf"
        mv -f ./tmp/MiSans/otf/MiSans-Regular.otf "./MiSans/MiSans.otf"

    - name: zip directory to zip
      uses: montudor/action-zip@v1
      with:
        args: |
          zip -qq -r MiSans.zip ./MiSans/

    - name: Download FiraCode
      run: |
        mkdir -p ./tmp/FiraCode/
        firacode_version=$(curl -sSL https://api.github.com/repos/ryanoasis/nerd-fonts/releases/latest | grep 'tag_name' | sed 's/.*v//' | sed 's/".*//')
        echo "firacode_version=${firacode_version}" >> ${GITHUB_ENV}
        wget -P ./tmp/ "${firacode_download_url}/v${firacode_version}/FiraCode.zip"
        unzip -o ./tmp/FiraCode.zip -d ./tmp/FiraCode/
        mv -f ./tmp/FiraCode/FiraCodeNerdFontMono-Bold.ttf "./FiraCode/FiraCode Nerd Font Mono Bold.ttf"
        mv -f ./tmp/FiraCode/FiraCodeNerdFontMono-Light.ttf "./FiraCode/FiraCode Nerd Font Mono Light.ttf"
        mv -f ./tmp/FiraCode/FiraCodeNerdFontMono-Regular.ttf "./FiraCode/FiraCode Nerd Font Mono.ttf"

    - name: zip directory to zip
      uses: montudor/action-zip@v1
      with:
        args: |
          zip -qq -r FiraCode.zip ./FiraCode/

    - name: Move files
      run: |
        cp -f ./MiSans.zip ./MiSans/
        cp -f ./FiraCode.zip ./FiraCode/
        rm -rf ./tmp*

    - name: Commit and push `MiSans`
      run: |
        cd ./MiSans/ || exit 1
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        git add . && git commit -m "MiSans 字体更新于 ${update_version}" || exit 0
        git push -f

    - name: Commit and push `FiraCode`
      run: |
        cd ./FiraCode/ || exit 1
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "github-actions[bot]"
        git add . && git commit -m "更到 FiraCode 至 ${firacode_version}" || exit 0
        git push -f

    - name: Purge jsDelivr CDN
      run: |
        cd ./MiSans/ || exit 1
        for file in $(ls); do
          curl -i "https://purge.jsdelivr.net/gh/${{ github.repository }}@main/MiSans/${file}"
        done
        cd .//FiraCode/ || exit 1
        for file in $(ls); do
          curl -i "https://purge.jsdelivr.net/gh/${{ github.repository }}@main/FiraCode/${file}"
        done
